.articles-page, .upsert-article-page {
  padding: 20px 200px;
}

.articles-page .buttons {
  padding: 0 0 30px 0;
}

.articles-page .buttons button, .upsert-article-page .buttons button {
  margin-right: 10px;
}

.articles-page .title {
  min-width: 185px;
}

.articles-page .last-modified {
  min-width: 130px;
}

.articles-page .actions {
  text-align: right;
  min-width: 108px;
  text-align: center;
}

.articles-page .actions button {
  margin-left: 10px;
}
